<template>
  <div class="messages" v-for="(user,key,index) in users" :key="index">
    <div class="user-prof" v-if="current_index===index">
      <div class="left">
        <!-- icon -->
        <svg
          @click="$router.go(-1)"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 1024 1024"
        >
          <path
            fill="white"
            d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
          />
          <path
            fill="white"
            d="m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
          />
        </svg>
        <!-- image -->
        <!--  @click="$router.push({
            path:'/chats',
            query: {userId: 1}
          })" -->
        <div class="user-img">
          <img :src="user.photo" alt="" />
        </div>
        <p>{{key}}</p>
      </div>
      <div class="right">
        <!-- video call icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 32 32"
        >
          <path
            fill="white"
            d="M21 26H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h17a2 2 0 0 1 2 2v4.06l5.42-3.87A1 1 0 0 1 30 9v14a1 1 0 0 1-1.58.81L23 19.94V24a2 2 0 0 1-2 2Z"
          />
        </svg>
        <!-- call icon voice -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="white"
            d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02l-2.2 2.2Z"
          />
        </svg>
        <!-- more details icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <g fill="none">
            <path
              d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"
            />
            <path
              fill="white"
              d="M12 16.5a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3Zm0-6a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3Zm0-6a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3Z"
            />
          </g>
        </svg>
      </div>
    </div>
    <div class="message-viewer" v-if="current_index===index">
      <div class="owner">
        <div>
          <p style="font: x-small" v-if="user.message[0].length>1">
            {{user.message[0]}}
          </p>
        </div>
      </div>
      <div class="user-x">
        <p v-if="user.message.length>1">
          {{user.message[1]}}
        </p>
      </div>
    </div>
    <div class="msg-input">
      <div class="right">
        <!-- emoji -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        >
          <path
            fill="currentColor"
            d="M10 2a8 8 0 1 1 0 16a8 8 0 0 1 0-16Zm0 1a7 7 0 1 0 0 14a7 7 0 0 0 0-14Zm-2.845 9.427a4.011 4.011 0 0 0 5.512.17l.178-.17a.5.5 0 0 1 .767.636l-.057.07l-.023.022a5.011 5.011 0 0 1-7.087-.023a.5.5 0 0 1 .71-.705ZM12.5 7.5a1 1 0 1 1 0 2a1 1 0 0 1 0-2Zm-5 0a1 1 0 1 1 0 2a1 1 0 0 1 0-2Z"
          />
        </svg>
        <!-- input area -->
        <input type="search" v-model="message" />
        <!-- documents -->
        <div>
          <svg
            v-if="!is_typed_message"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            @click="attachFiles"
          >
            <path
              fill="currentColor"
              d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5a2.5 2.5 0 0 1 5 0v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5a2.5 2.5 0 0 0 5 0V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"
            />
          </svg>
        </div>

        <!-- attach image -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 1024 1024"
        >
          <path
            fill="currentColor"
            d="M864 260H728l-32.4-90.8a32.07 32.07 0 0 0-30.2-21.2H358.6c-13.5 0-25.6 8.5-30.1 21.2L296 260H160c-44.2 0-80 35.8-80 80v456c0 44.2 35.8 80 80 80h704c44.2 0 80-35.8 80-80V340c0-44.2-35.8-80-80-80zM512 716c-88.4 0-160-71.6-160-160s71.6-160 160-160s160 71.6 160 160s-71.6 160-160 160zm-96-160a96 96 0 1 0 192 0a96 96 0 1 0-192 0z"
          />
        </svg>
      </div>
      <div class="voice-recorder" >
        <div class="send-voice">
          <svg
            v-if="is_typed_message"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path fill="white" d="m2 21l21-9L2 3v7l15 2l-15 2v7Z" />
          </svg>
          <svg
            v-if="!is_typed_message"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              fill="white"
              d="M12 15c1.66 0 2.99-1.34 2.99-3L15 6c0-1.66-1.34-3-3-3S9 4.34 9 6v6c0 1.66 1.34 3 3 3zm6.08-3c-.42 0-.77.3-.83.71c-.37 2.61-2.72 4.39-5.25 4.39s-4.88-1.77-5.25-4.39a.839.839 0 0 0-.83-.71c-.52 0-.92.46-.85.97c.46 2.97 2.96 5.3 5.93 5.75V21c0 .55.45 1 1 1s1-.45 1-1v-2.28c2.96-.43 5.47-2.78 5.93-5.75a.857.857 0 0 0-.85-.97z"
            />
          </svg>
        </div>
      </div>
      <!-- <div v-if="is_typed_message">
        typing: {{message}}
      </div> -->
    </div>
    <!-- modal for files attachments -->
    <div class="attachments" @click.self="is_file_attached = false">
      <div class="file-modal" v-if="is_file_attached">
        <div class="attachments-type">
          <div class="first">
            <!-- docs -->
            <div class="file-type" style="background: #7f65fa">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 36 36"
              >
                <path
                  fill="white"
                  d="M21.89 4H7.83A1.88 1.88 0 0 0 6 5.91v24.18A1.88 1.88 0 0 0 7.83 32h20.34A1.88 1.88 0 0 0 30 30.09V11.92ZM21 13V5.84L28.3 13Z"
                  class="clr-i-solid clr-i-solid-path-1"
                />
                <path fill="none" d="M0 0h36v36H0z" />
              </svg>
            </div>
            <!-- cam -->
            <div class="file-type">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 20 20"
              >
                <path
                  fill="white"
                  d="M0 6c0-1.1.9-2 2-2h3l2-2h6l2 2h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6zm10 10a5 5 0 1 0 0-10a5 5 0 0 0 0 10zm0-2a3 3 0 1 1 0-6a3 3 0 0 1 0 6z"
                />
              </svg>
            </div>
            <!-- gallery -->
            <div class="file-type" style="background: #bf59cf">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <g fill="white">
                  <path
                    d="M22 12.698c-.002 1.47-.013 2.718-.096 3.743c-.097 1.19-.296 2.184-.74 3.009a4.18 4.18 0 0 1-.73.983c-.833.833-1.893 1.21-3.237 1.39C15.884 22 14.2 22 12.053 22h-.106c-2.148 0-3.83 0-5.144-.177c-1.343-.18-2.404-.557-3.236-1.39c-.738-.738-1.12-1.656-1.322-2.795c-.2-1.12-.236-2.512-.243-4.241C2 12.957 2 12.492 2 12v-.054c0-2.148 0-3.83.177-5.144c.18-1.343.557-2.404 1.39-3.236c.832-.833 1.893-1.21 3.236-1.39c1.168-.157 2.67-.175 4.499-.177a.697.697 0 1 1 0 1.396c-1.855.002-3.234.018-4.313.163c-1.189.16-1.906.464-2.436.994S3.72 5.8 3.56 6.99C3.397 8.2 3.395 9.788 3.395 12v.784l.932-.814a2.14 2.14 0 0 1 2.922.097l3.99 3.99a1.86 1.86 0 0 0 2.385.207l.278-.195a2.79 2.79 0 0 1 3.471.209l2.633 2.37c.265-.557.423-1.288.507-2.32c.079-.972.09-2.152.091-3.63a.698.698 0 0 1 1.396 0Z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M17.5 11c-2.121 0-3.182 0-3.841-.659C13 9.682 13 8.621 13 6.5c0-2.121 0-3.182.659-3.841C14.318 2 15.379 2 17.5 2c2.121 0 3.182 0 3.841.659C22 3.318 22 4.379 22 6.5c0 2.121 0 3.182-.659 3.841c-.659.659-1.72.659-3.841.659Zm2.212-6.712a.983.983 0 0 1 0 1.39l-.058.058a.238.238 0 0 1-.211.067a1.595 1.595 0 0 1-.81-.436a1.594 1.594 0 0 1-.436-.81a.238.238 0 0 1 .067-.211l.058-.058a.983.983 0 0 1 1.39 0ZM17.35 8.04a3.224 3.224 0 0 1-.296.279a1.635 1.635 0 0 1-.303.187c-.09.043-.188.076-.381.14l-1.021.34a.265.265 0 0 1-.335-.335l.34-1.02c.064-.194.097-.291.14-.382c.051-.108.114-.21.187-.303c.062-.08.134-.152.279-.296l1.799-1.799c.043-.043.118-.023.138.035a1.984 1.984 0 0 0 1.217 1.217c.058.02.078.095.035.138l-1.799 1.8Z"
                    clip-rule="evenodd"
                  />
                </g>
              </svg>
            </div>
          </div>
          <div class="first">
            <!-- <audio src=""></audio> -->
            <div class="file-type" style="background: #fc8914">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="white"
                  d="M12 1c-5 0-9 4-9 9v7a3 3 0 0 0 3 3h3v-8H5v-2a7 7 0 0 1 7-7a7 7 0 0 1 7 7v2h-4v8h3a3 3 0 0 0 3-3v-7c0-5-4.03-9-9-9Z"
                />
              </svg>
            </div>
            <!-- location -->
            <div class="file-type" style="background: #1aa260">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 512 512"
              >
                <path
                  fill="white"
                  d="M256 32C167.67 32 96 96.51 96 176c0 128 160 304 160 304s160-176 160-304c0-79.49-71.67-144-160-144Zm0 224a64 64 0 1 1 64-64a64.07 64.07 0 0 1-64 64Z"
                />
              </svg>
            </div>
            <!-- contact -->
            <div class="file-type" style="background: #07adf2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="white"
                  d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4Z"
                />
              </svg>
            </div>
          </div>
          <div class="first">
            <!-- poll -->
            <div class="file-type" style="background: #03a79b">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 16 16"
              >
                <path
                  fill="white"
                  d="M6 3a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V3ZM1 9a2 2 0 1 1 4 0v4a2 2 0 1 1-4 0V9Zm10-2a2 2 0 1 1 4 0v6a2 2 0 1 1-4 0V7Z"
                />
              </svg>
            </div>
          </div>

          <!-- poll -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, ref } from "vue";
import {useRouter} from 'vue-router'
import {users} from "@/composables/data.js"
export default {
  name: "MessageComponent",
  setup() {
    const router = useRouter()
    let message = ref("");
    // let is_typed_message = ref(false)
    let is_file_attached = ref(false);
    const current_index = parseInt(router.currentRoute.value.query.index)
    console.log('Current param: ',typeof(current_index),current_index,users);
    const is_typed_message = computed(() => {
      return message.value.length > 0 ? true : false;
    });
    function attachFiles() {
      is_file_attached.value = true;
      console.log("trying to attach files.....")
    }
    return {
      message,
      is_typed_message,
      is_file_attached,
      attachFiles,
      users,
      current_index
    };
  },
};
</script>

<style scoped>
p {
  font: bolder;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.messages {
  /* padding-top: 6rem;
  height: calc(100vh - 6rem); */

  /* position: fixed; */
  /* margin-top: 30px; */
  top: 0 ;
  position: absolute;
  /* background: lightseagreen; */
  /* height: 100vh; */
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.messages .attachments {
  position: fixed;
  top: 3.5rem;
  height: calc(100vh - 3.5rem);
  width: 100%;
  z-index: 130;
  background: transparent;
}
.attachments .first {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.attachments .attachments-type {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.attachments .file-modal .attachments-type .file-type {
  height: 50px;
  width: 50px;
  background: rgb(124, 75, 139);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages .attachments .file-modal {
  position: fixed;
  bottom: 4.5rem;

  left: 50%;
  transform: translateX(-50%);
  background: white;
  height: 250px;
  width: 95%;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}
.messages .msg-input {
  width: 100%;
  position: fixed;
  bottom: 1rem;
  height: 3rem;
  z-index: 150;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.msg-input .right {
  height: 100%;
  margin-left: 10px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(224, 220, 220);
}
.msg-input .right input {
  height: 100%;
  outline-color: none;
  border: none;
}
.msg-input .right input:focus,
input:hover {
  outline: none;
  border: none;
}
.msg-input .voice-recorder {
  width: 15%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* border-radius: 50%; */
}
.msg-input .voice-recorder .send-voice {
  height: 40px;
  width: 40px;
  background: #008169;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
}
.messages .user-prof {
  height: 3.5rem;
  background: rgb(0, 129, 105);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.messages .user-prof .left {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 5px; */
}
.messages .user-prof .left .user-img {
  width: 2.5rem;
  height: 2.5rem;
  /* background: white; */
}
.messages .user-prof .left .user-img img {
  border-radius: 50%;
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
}
.messages .user-prof .right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.messages .message-viewer {
  width: 100%;
  z-index: 70;
  background-color: rgb(245, 242, 236);
  height: calc(100vh - 3.5rem);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.message-viewer p {
  color: black;
  font: small;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
}
.messages .message-viewer .owner {
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  background: rgb(255, 255, 255);
  max-width: 80%;
  align-items: flex-start;
  /* min-height: 50px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(218, 213, 213, 0.9);
}
.messages .message-viewer .user-x {
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
  /* left: 0; */

  background: rgb(217, 253, 211);
  max-width: 80%;
  /* min-height: 50px; */
  align-self: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  align-self: flex-end;
  box-shadow: 1px 1px 10px 1px rgba(218, 213, 213, 0.9);
}
.user-x p {
  font: x-small;
  margin: 10px;
}
/* .messages .message-viewer>*:second-child{
  align-self: flex-end;
} */
</style>
