<template>
  <div class="chat-main">
    <div class="chat-card" v-for="(user,key,index) in users" :key="index">
      <div class="prof-logo">
        <img :src="user.photo" alt="" />
      </div>
      <div class="chat-details" @click="$router.push({
        path: '/messages',
        query: {
          index: Number(index)
        }
      })">
        <div class="details">
          <h4>{{key}}</h4>
            <p>{{user.message[user.message.length-1]}}</p>
        </div>
        <div class="counter">
          <p>14:21</p>
          <div class="ln">
            <p>{{user.message.length}}</p>
          </div>
          
        </div>
          
      </div>
    </div>
    <!-- p2 -->
    
    <!-- dynamic data -->

    <!-- <p>This is a whatsapp chat...</p>
    <p>new chat</p> -->
  </div>
</template>

<script>
import { ref } from 'vue';
import user1 from "@/assets/my_prof.jpeg"
import user2 from "@/assets/asian-girl.png"
import user3 from "@/assets/bmw_x12.png"
import user4 from "@/assets/otongolo.jpeg"
import user5 from "@/assets/7.png"
export default {
  name: "ChatView",
  setup(){
    let users = {
      "Collins":{
        photo: user5,
        message:["will i get the bm today?","I got the latest man..."]
      },
      "Otongolo":{
        photo:user4,
        message:["Yafaa tupatane tukule..."]
      },
      "Amanda":{
        photo:user2,
        message:["China must triumph"]
      },
      "Gregory Isaack":{
        photo: user1,
        message:["Newton was right"]
      },
      "Tesla":{
        photo: user3,
        message:["Elon is in the right direction","What is the horse power"]
      }
  }
    let messages = ref([])
    return {
      users,
      messages
    }
  }
};
</script>

<style>
p,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
    font: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
  font-size: small;
}
.chat-main {
  padding-top: 6rem;
  height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-main .chat-card {
  position: relative;
  width: 100%;
  height: 4rem;
  background: white;
  display: flex;
  margin: 10px;
}
.chat-main .chat-card .prof-logo {
  /* margin-left: 10px; */
  /* width: 30%; */
  height: 4rem;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-main .chat-card .prof-logo img {
  /* width: 70px; */
  /* width: 20%; */
  /* widows: 80px; */
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  /* overflow: hidden; */
}
.chat-main .chat-card .chat-details{
  position: relative;
  display: flex;
  width: 70%;
  /* height: 100%; */
  flex-direction: row;
  margin-left: 0;
  align-items: flex-start;
  /* border-bottom: 1px solid rgba(128, 128, 128,0.3); */
  align-content: center;
  justify-content: space-around;
  margin-left: 10px;
  /* margin-bottom: 1px; */
}
.chat-details .details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  height: 100%;
  width: 85%;
}
.chat-details .counter{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 10%;

}
.counter .ln{
  /* padding: 1px; */
  /* width: 100; */
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: rgba(37,211,102,0.8);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-left: 10px;
  
}
.ln p{
  color: white;
}
</style>
