<template>
  <div class="layout">
    <div class="upper-layout">
      <div>
        <h3>Whatsapp</h3>
      </div>
      <div class="upper-layout-icons">
        <!-- camera icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M20 4h-3.17L15 2H9L7.17 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2m0 14H4V6h4.05l1.83-2h4.24l1.83 2H20v12M12 7a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m0 8a3 3 0 0 1-3-3a3 3 0 0 1 3-3a3 3 0 0 1 3 3a3 3 0 0 1-3 3Z"/></svg>
        <!-- search icon       -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20.031 20.79c.46.46 1.17-.25.71-.7l-3.75-3.76a7.904 7.904 0 0 0 2.04-5.31c0-4.39-3.57-7.96-7.96-7.96s-7.96 3.57-7.96 7.96c0 4.39 3.57 7.96 7.96 7.96c1.98 0 3.81-.73 5.21-1.94l3.75 3.75zM4.11 11.02c0-3.84 3.13-6.96 6.96-6.96c3.84 0 6.96 3.12 6.96 6.96s-3.12 6.96-6.96 6.96c-3.83 0-6.96-3.12-6.96-6.96z"/></svg>
        <!-- dotted drop down -->
        <svg  @click="showMore" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024"><path fill="currentColor" d="M456 231a56 56 0 1 0 112 0a56 56 0 1 0-112 0zm0 280a56 56 0 1 0 112 0a56 56 0 1 0-112 0zm0 280a56 56 0 1 0 112 0a56 56 0 1 0-112 0z"/></svg>
      </div>
    </div>
    <!-- <MoreDetails/> -->
    <!-- TODO: when route changes change the border-bottom color -->
    <div class="lower-layout">
        <div class="msgs " :class="{'chatsActive':chatsActive}" @click="toggleChats">
            <p class="msgs: is_active ? ">Chats</p>
        </div>
       <div class="msgs" :class="{'statusActive':statusActive}" @click="toggleStatus">
            <p>Status</p>
        </div>
        <div class="msgs">
            <p>Calls</p>
        </div>
    </div>
    <MoreDetails :isShow = "show_more" @closeMoreDetails="show_more=false"/>
  </div>
</template>

<script>
import { ref,watch } from 'vue';
import MoreDetails from '@/components/MoreDetails.vue'
import {useRoute,useRouter} from 'vue-router';
export default {
  name: "LayoutView",
  components:{
    MoreDetails
  },
  setup(){
    let is_tab_active = ref(false)
    const show_more = ref(false)
    let statusActive = ref(false)
    let chatsActive = ref(true)
    const route = useRoute();
    const router = useRouter();
    watch(
      () => route.path,
      (newPath) => {
        statusActive.value = newPath === '/status';
        chatsActive.value = newPath === '/chats';
      }
    );
    function showMore(){
      console.log('Clicked on more details')
      show_more.value = true
    }

    function toggleStatus(){
      // statusActive.value = true
      router.push('/status')
    }
    function toggleChats(){
      // chatsActive.value =true
      router.push('/chats')
    }
    return {
        is_tab_active,
        show_more,
        showMore,
        statusActive,
        chatsActive,
        toggleStatus,
        toggleChats
        
    }
  }
};
</script>

<style>
.layout{
    position: absolute;
    width: 100%;
    height: 6rem;
    padding-top: 0;
    /* margin-top: 0; */
    background: #008169;
    color: white;
    
    display: flex;
    flex-direction: column;
    z-index: 50;
}
.layout .upper-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    position: relative;
    margin-left: 4px;
    /* top: 0;
    margin: 0; */
    /* margin: 3px; */
    height: 4rem;
    /* background: grey; */
}.layout .upper-layout .upper-layout-icons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.layout .lower-layout{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 2rem;
    background: #008169;
}
.layout .lower-layout .msgs{
    width: 30%;
    /* border-bottom:2px solid black; */
}
.layout .lower-layout .msgs.statusActive{
  
  border-bottom: 1px solid white;
  /* z-index: 60; */
}
.layout .lower-layout .msgs.chatsActive{
  
  border-bottom: 1px solid white;
  /* z-index: 60; */
}
</style>
