<template>
  <div class="status">
    <!-- This is the status view -->
    <div class="my-status">
      <div class="add-pic">
        <div class="pic">
          <img src="../assets/my_prof.jpeg" alt="" />
        </div>
      </div>
      <div class="status-details">
        <h3>My status</h3>
        <p style="color: grey">Tap to add status updates</p>
      </div>
      <div v-if="my_status_updated">view uploaded status(es)</div>
    </div>
    <p style="color: grey; margin: 10px">Recent updates</p>
    <div class="recent-updates" @click="$router.push('/image_carousel')">
      <div class="add-pic">
        <div class="pic">
          <img src="../assets/bmw_x12.png" alt="" />
        </div>
      </div>
      <div class="status-details">
        <h4>Car Dealer</h4>
        <p style="color: grey">2 minutes ago</p>
      </div>
      
    </div>
    <div class="recent-updates">
      <div class="add-pic">
        <div class="pic">
          <img src="../assets/asian-girl.png" alt="" />
        </div>
      </div>
      <div class="status-details">
        <h4>0722163254</h4>
        <p style="color: grey">Today,12:57 pm</p>
      </div>
      
    </div>
    <div class="read-statuses">Read statuses</div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  name: "StatusView",
  setup() {
    let my_status_updated = ref(false);
    return {
      my_status_updated,
    };
  },
};
</script>

<style>
.status {
  padding-top: 6rem;
  height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.status .my-status {
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 4rem;
  /* background: aquamarine; */

  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgb(228, 225, 225);
}
.status .my-status .add-pic {
  width: 5rem;
  border-top-left-radius: 10px;
}
.status .my-status .add-pic .pic {
  width: 4rem;
  height: 4rem;
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.status .my-status .add-pic .pic img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.status .my-status .status-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.status .recent-updates {
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 4rem;
  /* background: aquamarine; */

  border-radius: 10px;
  /* box-shadow: 1px 1px 10px 1px rgb(228, 225, 225); */
}
.status .recent-updates .add-pic {
  width: 5rem;
  border-top-left-radius: 10px;
}
.status .recent-updates .add-pic .pic {
  width: 4rem;
  height: 4rem;
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.status .recent-updates .add-pic .pic img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  outline: 3px solid #03dab2;
}
.status .recent-updates .status-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.status .read-statuses {
  margin: 10px;
}
</style>
