<template>
  <div class="photo-carousel">
    <div class="user-profile">
      <!-- back icon -->
      <svg
        @click="$router.push('/status')"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="white"
          d="M17.51 3.87L15.73 2.1L5.84 12l9.9 9.9l1.77-1.77L9.38 12l8.13-8.13z"
        />
      </svg>
      <!-- image -->
      <div class="user-img">
        <img src="@/assets/bmw_x12.png" alt="" />
      </div>
      <div class="user-des">
        <h4>Car Dealer</h4>
        <p style="color: rgba(255, 255, 255, 0.8)">Today,13:45</p>
      </div>
      <!-- user details -->
    </div>
    <div class="butn_nav">
      <!-- Scroll btn -->
      <div class="btn" v-if="current_img_idx>0">
        <svg
          @click="getPreviousPhoto"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          
        >
          <path
            fill="white"
            d="M10 22L0 12L10 2l1.775 1.775L3.55 12l8.225 8.225L10 22Z"
          />
        </svg>
      </div>
      <div class="btn" style="margin-left: 2px;position: absolute;right: 0;" v-if="current_img_idx<photos.length-1">
        <svg
          @click="getNextPhoto"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="white"
            d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z"
          />
        </svg>
      </div>
    </div>
    <div class="carousel">
      <div
        class="img-cl"
        @mouseover="is_hovered = true"
        @mouseout="is_hovered = false"
        @touchstart="is_hovered = true"
        @touchend="is_hovered = false"
      >
        <img :src="photos[current_img_idx]" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import image1 from "@/assets/bmw2.jpg";
import image2 from "@/assets/bmw_2023.jpeg";
import image3 from "@/assets/yellow_car.jpeg";
import {useRouter} from 'vue-router'
export default {
  name: "CarouselComponent",
  setup() {
    let photos = [image1, image2, image3];
    let is_hovered = ref(false);
    let current_img_idx = ref(0);
    const router = useRouter()
    function getPreviousPhoto() {
      console.log(photos[0]);
      const length_photos = photos.length;

      if (current_img_idx.value > 0) {
        current_img_idx.value -= 1;
      } else {
        current_img_idx.value = length_photos - 1;
        console.log(current_img_idx.value);
      }
      // current_img_idx.value --
    }
    function getNextPhoto() {
      const photos_length = photos.length;
      // console.log(photos_length)
      if (current_img_idx.value === photos_length - 1) {
        current_img_idx.value = 0;
        console.log(current_img_idx.value);
      } else {
        current_img_idx.value += 1;
        console.log(current_img_idx.value);
      }
    }

    function automateCarousels() {
      const intervalId = setInterval(() => {
        getNextPhoto();
        if (current_img_idx.value === 0) {
            // getNextPhoto()
          clearInterval(intervalId);
          router.push('/status')
        }
      }, 4000);
    }
    // console.log(automateCarousels)
    automateCarousels();
    // intervalId
    return {
      photos,
      getPreviousPhoto,
      current_img_idx,
      getNextPhoto,
      is_hovered,
    };
  },
};
</script>

<style>
.photo-carousel {
  /* display: fixed; */
  position: absolute;
  /* top: 0; */
  background: black;
  height: 100vh;
  width: 100%;
  z-index: 200;
  display: flex;
  /* margin: 10px; */
}
.photo-carousel .butn_nav {
  position: fixed;
  z-index: 250;
  width: 100%;
  height: 10rem;
  /* background: white; */
  color: white;
  top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* .butn_nav:hover{
    display: flex;
} */
.butn_nav .btn {
  height: 3rem;
  width: 3.5rem;
  background: rgba(175, 171, 171, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: white; */
}
/* .butn_nav:hover{
    display: flex;
} */
/* .btn */
.photo-carousel .user-profile {
  position: fixed;
  color: white;
  z-index: 210;
  height: 4rem;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-evenly;
}
.photo-carousel .user-profile .user-img {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-carousel .user-profile .user-img img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.photo-carousel .carousel {
  position: relative;
  /* background: white; */
  display: flex;
  flex-direction: column;
  /* margin-top:15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.photo-carousel .carousel .img-cl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  transition: transform 1s ease-in;
}

.photo-carousel .carousel .img-cl img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
</style>