<template>
  <div class="login-form">
    <p>Authenticate</p>

    <input type="password" v-model="input_pwd" @input="checkPassword"/>
  </div>
</template>

<script>
import { ref } from "vue";
import router from "@/router";
export default {
  name: "LoginComponent",
  setup() {
    // setup your password, set token to password
    const password = 8569;
    let input_pwd = ref("");
    function checkPassword() {
      if (input_pwd.value === String(password)) {
        localStorage.setItem("my_token", password.toString());
        router.push("/messages");
        setTimeout(clearPassword,30000)
      }
    }
    function clearPassword() {
      localStorage.removeItem('my_token')
      router.push("/login")
    }
    return {
      password,
      checkPassword,
      input_pwd,
    };
  },
};
</script>

<style>
.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 80%;
  /* background: white; */
  /* box-shadow: 1px 1px 10px 1px rgb(206, 202, 202); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-form input {
  width: 80%;
  height: 2rem;
  border-radius: 10px;
  border: none;
  outline: 0.1px solid #2e6edf;
  text-align: center;
}
.login-form p {
  padding: 0;
  margin: 0;
  font: bolder;
  color: black;
  margin-bottom: 20px;
}
</style>