<template>
  <div class="more-details" v-if="isShow" >
    <!-- <p>Here are your details</p> -->
    <div class="modal-backdrop" @click.self="closeMOdal">
      <div class="modal" >
        <div class="items">
          <p>New Group</p>
        </div>
        <div class="items">
          <p>New BroadCast</p>
        </div>
        <div class="items">
          <p>Starred messages</p>
        </div>
        <div class="items">
          <p>Linked devices</p>
        </div>
        <div class="items">
          <p>Settings</p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
export default {
  name: "MoreDetails",
  emits: ['closeMoreDetails'],
  props: {
    isShow: {
      type: Boolean,
      default: false
    }
  },

  setup(props,{emit}){
    
    console.log('props: ',props.isShow)
    let is_show_more = ref(true)
    function closeMOdal(){
      emit('closeMoreDetails')
    }
    return{
      is_show_more,
      closeMOdal
    }
  }
}
</script>

<style>
.more-details{
  position: fixed;
}
.more-details .modal-backdrop{
  height: 100vh;
  width: 100%;
  z-index: 200;
  position: fixed;
  background: transparent;
}
.more-details .modal-backdrop .modal{
  z-index: 200;
  position:fixed;
  font: normal;
  color: black;
  
  /* top: 7rem; */
  left: 49%;
  height: 220px;
  width: 50%;
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px 10px 1px rgb(173, 169, 169);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* margin: 15px; */
  

}
.modal .items{
  margin: 10px;
}
</style>