<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
  <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  <LayoutView />
  <router-view></router-view>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import LayoutView from "./views/Layout.vue";

export default {
  name: "App",
  components: {
    LayoutView,
    // HelloWorld,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
  /* margin-top: 0; */
  /* background-color: aquamarine; */
  position: absolute;
  /* margin-top: 60px; */
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 4rem;
  margin: 0;
  padding: 0;
}
</style>
